html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  background-image: url("https://wallpapercave.com/uwp/uwp4250215.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -2;
}
.container {
  padding-top: 14em;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
#content {
  height: 45em;
}
#quoteDisplay {
  max-width: 30em;
  color: white;
  font-family:"Adobe Caslon Pro","Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
}

p :hover {
  text-decoration: none;
}

#foot {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 0.6;
  background-color: black;
  color: white;
  border: thin solid white;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
}

div {
  color: white;
}

#b-nav {
  padding-bottom: 11em;
  position: fixed;
  width: 100%;
  bottom: 2em;
}
